/client/node_modules/*
/server/target/*
target/*
.idea/*
.DS_Store
*.md
.vscode/*
.env
client/.vite/*
client/dist/assets/index-BDAbBSKe.js
AGENT.md
/AI_AGENT_README.txt
/android-client/app/build/
/android-client/build/
/android-client/.gradle/
/android-client/local.properties
/android-client/gradlew.bat
/android-client/gradlew
/android-client/.idea/codeStyles/codeStyleConfig.xml
/android-client/.idea/codeStyles/Project.xml
/android-client/.idea/inspectionProfiles/Project_Default.xml
/android-client/.idea/.gitignore
/android-client/.idea/.name
/android-client/.idea/AndroidProjectSystem.xml
/android-client/.idea/compiler.xml
/android-client/.idea/deploymentTargetSelector.xml
/android-client/.idea/deviceManager.xml
/android-client/.idea/gradle.xml
/android-client/.idea/migrations.xml
/android-client/.idea/misc.xml
/android-client/.idea/runConfigurations.xml
/android-client/.idea/studiobot.xml
/android-client/.idea/vcs.xml
/android-client/gradle/wrapper/gradle-wrapper.jar
/android-client/gradle/wrapper/gradle-wrapper.properties
/Gringotts Design/Screenshot 14-04-2026 at 19.00(1).png
/Gringotts Design/Screenshot 14-04-2026 at 19.00.png
/Gringotts Design/Screenshot 14-04-2026 at 19.01(1).png
/Gringotts Design/Screenshot 14-04-2026 at 19.01(2).png
/Gringotts Design/Screenshot 14-04-2026 at 19.01.png
/Gringotts Design/Screenshot 14-04-2026 at 19.02(1).png
/Gringotts Design/Screenshot 14-04-2026 at 19.02.png
/Gringotts Design/Screenshot 14-04-2026 at 19.31.png
/Gringotts Design/Screenshot 14-04-2026 at 19.32.png
/Gringotts Design/Screenshot 14-04-2026 at 19.33.png
