/client/node_modules/*
/server/target/*
target/*
.idea/*
.DS_Store
.vscode/*
.env
client/.vite/*
client/dist/assets/index-BDAbBSKe.js
/Gringotts Design/
/package-lock.json
/supabase/backups/*
.reviews/*
.antigravitycli/d9e6214f-fe3b-4cb8-a1a0-80a692b66ddb.json
.idea/compiler.xml
supabase/*.sh
