/client/node_modules/
/client/node_modules/.bin/
/client/node_modules/.vite/
/client/node_modules/.vite-temp/
/client/node_modules/@babel/
/client/node_modules/@esbuild/
/client/node_modules/@google/
/client/node_modules/@isaacs/
/client/node_modules/@jridgewell/
/client/node_modules/@pkgjs/
/client/node_modules/@protobufjs/
/client/node_modules/@reduxjs/
/client/node_modules/@rolldown/
/client/node_modules/@rollup/
/client/node_modules/@standard-schema/
/client/node_modules/@types/
/client/node_modules/@vitejs/
/client/node_modules/agent-base/
/client/node_modules/ansi-regex/
/client/node_modules/ansi-styles/
/client/node_modules/balanced-match/
/client/node_modules/base64-js/
/client/node_modules/baseline-browser-mapping/
/client/node_modules/bignumber.js/
/client/node_modules/brace-expansion/
/client/node_modules/browserslist/
/client/node_modules/buffer-equal-constant-time/
/client/node_modules/caniuse-lite/
/client/node_modules/clsx/
/client/node_modules/color-convert/
/client/node_modules/color-name/
/client/node_modules/convert-source-map/
/client/node_modules/cookie/
/client/node_modules/cross-spawn/
/client/node_modules/csstype/
/client/node_modules/d3-array/
/client/node_modules/d3-color/
/client/node_modules/d3-ease/
/client/node_modules/d3-format/
/client/node_modules/d3-interpolate/
/client/node_modules/d3-path/
/client/node_modules/d3-scale/
/client/node_modules/d3-shape/
/client/node_modules/d3-time/
/client/node_modules/d3-time-format/
/client/node_modules/d3-timer/
/client/node_modules/data-uri-to-buffer/
/client/node_modules/debug/
/client/node_modules/decimal.js-light/
/client/node_modules/eastasianwidth/
/client/node_modules/ecdsa-sig-formatter/
/client/node_modules/electron-to-chromium/
/client/node_modules/emoji-regex/
/client/node_modules/es-toolkit/
/client/node_modules/esbuild/
/client/node_modules/escalade/
/client/node_modules/eventemitter3/
/client/node_modules/extend/
/client/node_modules/fdir/
/client/node_modules/fetch-blob/
/client/node_modules/foreground-child/
/client/node_modules/formdata-polyfill/
/client/node_modules/gaxios/
/client/node_modules/gcp-metadata/
/client/node_modules/gensync/
/client/node_modules/glob/
/client/node_modules/google-auth-library/
/client/node_modules/google-logging-utils/
/client/node_modules/gtoken/
/client/node_modules/https-proxy-agent/
/client/node_modules/immer/
/client/node_modules/internmap/
/client/node_modules/is-fullwidth-code-point/
/client/node_modules/isexe/
/client/node_modules/jackspeak/
/client/node_modules/js-tokens/
/client/node_modules/jsesc/
/client/node_modules/json5/
/client/node_modules/json-bigint/
/client/node_modules/jwa/
/client/node_modules/jws/
/client/node_modules/long/
/client/node_modules/lru-cache/
/client/node_modules/lucide-react/
/client/node_modules/minimatch/
/client/node_modules/minipass/
/client/node_modules/ms/
/client/node_modules/nanoid/
/client/node_modules/node-domexception/
/client/node_modules/node-fetch/
/client/node_modules/node-releases/
/client/node_modules/package-json-from-dist/
/client/node_modules/path-key/
/client/node_modules/path-scurry/
/client/node_modules/picocolors/
/client/node_modules/picomatch/
/client/node_modules/postcss/
/client/node_modules/protobufjs/
/client/node_modules/react/
/client/node_modules/react-dom/
/client/node_modules/react-is/
/client/node_modules/react-redux/
/client/node_modules/react-refresh/
/client/node_modules/react-router/
/client/node_modules/react-router-dom/
/client/node_modules/recharts/
/client/node_modules/redux/
/client/node_modules/redux-thunk/
/client/node_modules/reselect/
/client/node_modules/rimraf/
/client/node_modules/rollup/
/client/node_modules/safe-buffer/
/client/node_modules/scheduler/
/client/node_modules/semver/
/client/node_modules/set-cookie-parser/
/client/node_modules/shebang-command/
/client/node_modules/shebang-regex/
/client/node_modules/signal-exit/
/client/node_modules/source-map-js/
/client/node_modules/string-width/
/client/node_modules/string-width-cjs/
/client/node_modules/strip-ansi/
/client/node_modules/strip-ansi-cjs/
/client/node_modules/tiny-invariant/
/client/node_modules/tinyglobby/
/client/node_modules/typescript/
/client/node_modules/undici-types/
/client/node_modules/update-browserslist-db/
/client/node_modules/use-sync-external-store/
/client/node_modules/victory-vendor/
/client/node_modules/vite/
/client/node_modules/web-streams-polyfill/
/client/node_modules/which/
/client/node_modules/wrap-ansi/
/client/node_modules/wrap-ansi-cjs/
/client/node_modules/ws/
/client/node_modules/yallist/
